APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:Y/UeHS2eSzL2JqvpOTj6j1FjjXYznvfIm0cubZDdfJo=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=HR
DB_USERNAME=admin
DB_PASSWORD=admin

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

KUBE_API_TOKEN="eyJhbGciOiJSUzI1NiIsImtpZCI6Imo1WmRZay1NcklnY2c5Wi1wZVBNWXpVa0RzcDN1Z0o3S3c4MGxUWU5jUmsifQ.eyJhdWQiOlsiaHR0cHM6Ly9rdWJlcm5ldGVzLmRlZmF1bHQuc3ZjLmNsdXN0ZXIubG9jYWwiXSwiZXhwIjoxNzA1MDAyNzg4LCJpYXQiOjE3MDQ5OTkxODgsImlzcyI6Imh0dHBzOi8va3ViZXJuZXRlcy5kZWZhdWx0LnN2Yy5jbHVzdGVyLmxvY2FsIiwia3ViZXJuZXRlcy5pbyI6eyJuYW1lc3BhY2UiOiJsYXJhdmVsLWRlcGxveS1hcHAiLCJzZXJ2aWNlYWNjb3VudCI6eyJuYW1lIjoicGV0ZXItYWRtaW4iLCJ1aWQiOiI5MGI4YzRmYi0zNDkxLTQ0YmMtYjZmYi0zZDYwMWI0OGEzZTcifX0sIm5iZiI6MTcwNDk5OTE4OCwic3ViIjoic3lzdGVtOnNlcnZpY2VhY2NvdW50OmxhcmF2ZWwtZGVwbG95LWFwcDpwZXRlci1hZG1pbiJ9.Awusj9yomo4KBViWfw7AwMb5UEFjCT8SCG3j6SbxjilRRVwMdmNy3rXma5Dc5UTHWzEEMQFbY8jyvwaJCA6f4X0zGbr3-rbVJmFX_Bz7x0UUONDeiOpMBpd1mGB3E4ug9uHbRx34OCVOHsJ-zZWb5ivkMYioO00QJlLIZ7FBOxZFld84JMdBZqyUOpXFKXV2hXwCmm9jntCmOlyZhAnbp5Gv0sGRHvmcfh8iJ_yYlHD35uaGJgFNwhocOqzo71MawHbddNkSKPOEo5jFhNFx6_NDRMSVLJOr6XuS4dOwkPRubCuLyXNDVJL5SSqpctC6WJgLisfVb4irilk5npgc6g"
KUBE_CA_CERTIFICATE="MIIC/jCCAeagAwIBAgIBADANBgkqhkiG9w0BAQsFADAVMRMwEQYDVQQDEwprdWJl
cm5ldGVzMB4XDTI0MDExMTE3MjYyNVoXDTM0MDEwODE3MjYyNVowFTETMBEGA1UE
AxMKa3ViZXJuZXRlczCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMK6
Uwb/K2+VKXTM5tc0P12bqwVhZ1xDlSvXT+5zavm0E+SN+gH0996qTn8r6k/zFQNo
Rd25jyRGyzZsh+VPcMAHnvdtpjy/7Ve7gL4WMv+MeC/vi9nucB11TwPz9/q6vRbr
zJY7P/7ttBEhg/RiXlJDFG6rWr5KRMebGCMe0xeYkZIgiZoMwpLlRFWbuOHJu90p
QhKAKRCEPvGiOx2IVRYAgttdhZImx4xP9DgD+vsD7ZW3EDhttV13UJ21+fd/Yn4W
PhkbzgiPOQ6kL9liHOw2Bx9f388xa7RRhrTGtBvkHeHzAoj0GyuIwnbG0osUsCsu
KfQoPfqzRXrK5o9klS8CAwEAAaNZMFcwDgYDVR0PAQH/BAQDAgKkMA8GA1UdEwEB
/wQFMAMBAf8wHQYDVR0OBBYEFN6rWsv+FOa5XdSCrv4K+PDdu5yYMBUGA1UdEQQO
MAyCCmt1YmVybmV0ZXMwDQYJKoZIhvcNAQELBQADggEBAL7o6Ro24yf9RZsA54dh
VInWa20RmdlAgyxjFbDN03uE09TNpA0KnJl7WJ+DpKvxfHe6LrLJNc6SApM6f4oj
bkBU0JMbxnDxXdfMOe2nfzQ/N0G9l18s4UVK2zWmovYh4yksANxXzgCRtC0kLBqc
xYSCjCy3BQI/q3ucNs5teAiNoHECZoHxif9YmnlqdkEWYZ+SV79Xc89mrlfJsa/g
WtZFgACx85SP8e9Hpq+JC2wnzxP9X0BZEj4pIkX39OFLd4R59Di8yzhnvWdoXzlO
Moy2sSNppEoTq2PnmQ2xWTmS+ce9Nj6qA0qJm94eQguQL35k8bicNMYBzRej4r1n
3s4="
